In [2]:
import joblib
import pandas as pd

In [3]:
model = joblib.load('pipe.pkl')

In [4]:
model

Pipeline(steps=[('preprocess',
                 ColumnTransformer(transformers=[('cat_pipe',
                                                  Pipeline(steps=[('encode',
                                                                   LeaveOneOutEncoder())]),
                                                  Index(['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission'], dtype='object')),
                                                 ('numeric_pipe',
                                                  Pipeline(steps=[('scale',
                                                                   StandardScaler())]),
                                                  Index(['Year', 'Present_Price', 'Kms_Driven', 'Owner'], dtype='object'))])),
                ('linearregression', LinearRegression())])

In [ ]:
Car_Name	Year	Selling_Price	Present_Price	Kms_Driven	Fuel_Type	Seller_Type	Transmission	Owner

In [6]:
test = {'Car_Name': 'ritz', 'Year': 2013, 'Present_Price': 5, 'Kms_Driven': 50000, 'Fuel_Type': 'Petrol', 'Seller_Type': 'Dealer', 'Transmission': 'Manual', 'Owner': 0}

In [12]:
test_df = pd.DataFrame([test])

In [13]:
test_df

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2013,5,50000,Petrol,Dealer,Manual,0

In [14]:
model.predict(test_df)

array([2.68458399])